.main {
  text-align: left;
  font-size: 24px;
  color: #333;
  @include flex-column;
}

.header {
  background: $primary-color;
  padding-left: 260px;
}

.top-container {
  background: $primary-color;
  padding: 93px 260px;

  .el-row {
    display: flex;
    align-items: center;
  }
}

.logo {
  @include set-size(70px);
  float: left;
}

.top-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 80px;
  color: #fff;
}

.sub-top-title {
  font-size: 24px;
  color: #eeeeee;
}

.p1 {
  @include set-size(605px, 554px);
  margin-left: 80px;
}

.p2,
.p3 {
  @include set-size(100%);
}

.box {
  margin-top: 200px;
  @include flex-column;
  align-items: center;
}

.title {
  font-size: 32px;
  color: $primary-color;
  margin-bottom: 50px;
}

.arch-container {
  @include box-center;

  .el-col {
    height: 624px;
  }

  .arch-img {
    padding: 0 80px 0 180px !important;
    margin-bottom: 30px;
  }
}

.arch-title {
  font-size: 18px;
  background: #c6e2ff;
  padding: 150px 250px 150px 100px !important;
}

.storage-desc {
  padding: 0 578px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 50px;
}

.storage-content {
  width: 100%;
  padding: 0 260px;
  height: 437px;
}

.query-box {
  background: $primary-color;
  margin-bottom: 290px;
}

.query-title {
  font-size: 32px;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 50px;
}

.query-desc {
  text-align: center;
  color: #eee;
  font-size: 18px;
  margin-bottom: 150px;
  padding: 0 192px;
}

.query-container {
  background: #fff;
  margin-bottom: -198px;
  font-size: 18px;
  padding: 0 50px;
  box-shadow: 0 10px 50px 50px rgba(0, 0, 0, 0.02);
  width: 1400px;
  @include flex-column;

  .el-row {
    margin-bottom: 50px;

    &:first-child {
      text-align: center;
    }
  }

  .svg-icon {
    @include set-size(106px);
    margin-top: -53px;
  }
}

.example {
  padding: 0 260px;
  @include flex-column;
}

.example-title {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  margin-bottom: 50px;
}

.icon2 {
  @include set-size(85px, 58px);
  margin-bottom: 52px;
}

.code-container {
  .el-row {
    width: 100%;
  }

  .code-img {
    background: #fff;
    box-shadow: 0 0 50px 26px rgba(0, 0, 0, 0.02);
    margin-bottom: 20px;
    margin: 0 20px;

    &.code-img-1 {
      padding: 110px 37px;
      height: 300px;
    }

    &.code-img-2 {
      padding: 40px 155px;
      height: 440px;
    }
  }

  .svg-icon {
    @include set-size(100%);
  }
}

.demo {
  height: auto;
}

.img-content {
  @include set-size(1400px, 700px);
}

.footer {
  background: $primary-color;
  font-size: 24px;
  color: #fff;
  padding: 80px 120px 40px 120px;

  .el-row {
    &:nth-child(2) {
      margin-bottom: 80px;
    }

    &:nth-child(3) {
      background: #fff;
      margin-bottom: 40px;
      @include set-size(1400px, 1px);
      opacity: 0.2;
    }

    &:nth-child(4) {
      font-size: 14px;
      opacity: 0.6;
    }
  }
}

@media only screen and (max-width: 768px) {
  .title,
  .example-title,
  .query-title {
    font-size: 0.3rem;
  }

  .storage-desc,
  .example,
  .demo {
    padding: 0 0.5rem;
  }

  .header {
    padding-left: 0.5rem;
  }

  .logo {
    @include set-size(1rem, 0.8rem);
  }

  .top-container {
    padding: 0.5rem;
  }

  .arch-container {
    .el-col:nth-child(2) {
      height: 3rem;
    }
    .arch-img {
      padding: 0 !important;
      height: 6rem;
      margin-bottom: 0.2rem;
    }

    .arch-title {
      padding: 0.6rem 0.5rem !important;
      font-size: 0.16rem;
    }
  }

  .code-container {
    .code-img {
      height: 4rem;

      &.code-img-1 {
        margin: 0 0 0.2rem 0;
        height: 100%;
      }

      &.code-img-2 {
        margin: auto 0;
        height: 100%;
      }
    }
  }

  .img-content {
    @include set-size(9rem, 4rem);
  }
}
